@charset "utf-8";

.content
{
	padding-bottom:80px;
}


.content .thuimg .thuimga
{
	position:relative;
	display:block;
	width:1200px;
	margin:auto;
	height:400px;
	z-index:0;
}

.content .thuimg .thuimga #swfid
{
	margin:0;
	padding:0;
}

.content .thuimg .thuimga .mainImg
{
	position:absolute;
	top:0;
	left:0;
	display:none;
}

.content .thuimg .imgTitle
{
	position:absolute;
	top:-58px;
	left:0;
	z-index:1;
	width:1000px;
	text-align:left;
	overflow:hidden;
}

.content .thuimg .imgTitle .bg
{
	position:absolute;
	z-index:-1;
	height:58px;
	background:#252525;
	filter:alpha(opacity=50);
	opacity:.5;
	width:100%;
	top:0;
	
}
.content .thuimg .imgTitle .txt
{
	color:#fff;
	font-size:18px;
	line-height:58px;
	padding-left:30px;
	white-space:nowrap;
	
}
.content .thuimg .imgTitle .day
{
	position:absolute;
	right:0;
	width:114px;
	height:50px;
	background:#5c307d;
	top:8px;
	text-align:center;
	line-height:50px;
	font-size:15px;
	color:#ffc600;
}

.content .thuimg .imgTitle .day.today
{
	font-size:24px;	
}

.content .thuimg .month
{
	background:#5c307d;
	position:relative;
}

.content .thuimg .month .arrow
{
	position:absolute;
	color:#fff;
	font-size:20px;
	line-height:38px;
	padding:0 3px;
	*width:28px;
	cursor:pointer;
}

.content .thuimg .month .arrowleft
{
	left:0;
}

.content .thuimg .month .arrowright
{
	right:0;
}

.content .thuimg .month .arrowright:hover, .content .thuimg .month .arrowleft:hover
{
	background:#703d97;
}

.content .thuimg .month .monthTxt
{
	float:left;
	_display:inline;
	margin:0 15px 0 40px;
	color:#9884ab;
}

#calendarYear {display:none;}

.content .thuimg .month .monthTxt span
{
	font-size:20px;
	line-height:38px;
	padding-right:3px;
	color:#d7d0dd;
}

.content .thuimg .month .day 
{
	float:left;
	_display:inline;
}

.content .thuimg .month .day li
{
	float:left;
	_display:inline;
	font-size:12px;
	padding:4px 2px;
}

.content .thuimg .month .day a
{
	color:#fff;
	display:block;
	line-height:30px;
	text-align:center;
	width:24px;
	cursor:pointer;
	zoom:1;
}

.content .thuimg .month .day a:hover
{
	background:#703d97;
}

.content .thuimg .month .day a.none
{
	color:#866c9c;
}

.content .thuimg .month .day a.none:hover
{
	background:none;
	cursor:text;
}

.content .thuimg .month .day a.current
{
	color:#ffc600;
}

.content .thuimg .imgarrow
{
	position:absolute;
	color:#fff;
	font-size:50px;
	top:-220px;
	cursor:pointer;
	padding:2px 0px 2px 6px;
	opacity:.8;
	filter:alpha(opacity=80);
	overflow:hidden;
	border-radius:40px;
	border:2px solid #fff;
	*width:46px;
	*padding:2px 0px 2px 10px;
}

.content .thuimg .imgarrow:before
{
	margin:0;
}

.content .thuimg .imgarrow.imgarrowleft
{
	left:-60px;
	padding:2px 6px 2px 0px;
	*padding:2px 0px 2px 10px;
	padding:2px 3px 2px 3px\0;
}

.content .thuimg .imgarrow.imgarrowright
{
	right:-60px;
}

.content .thuimg .imgarrow.imgarrowleft:hover, .content .thuimg .imgarrow.imgarrowright:hover
{
	background:#333;
}

.ydate
{
	width:58px;
	border:1px solid #d8d8d8;
	color:#7d7d7d;
	text-align:center;
	font-size:12px;
	float:left;
	_display:inline;
	padding-bottom:5px;
}


.ydate span
{
	display:block;
	font-size:24px;
	line-height:24px;
	padding:8px 0 2px 0;
	zoom:1;
}


.ydate_1
{
	border:1px solid #b4b1b6;
	color:#5c307d;
}

.ydate_2
{
	border:1px solid #edeaf1;
	color:#5b317d;
	background:#edeaf1;
}

.content h2
{
	font-size:20px;
	line-height:70px;
	color:#22132d;
	text-indent:22px;
	zoom:1;
}

.content h2 .more
{
	float:right;
	_display:inline;
	font-size:12px;
	font-family:sans-serif;
	color:#999;
	margin-right:22px;
}

.content h2 .more:hover
{
	color:#5c307d;
}

.content .news
{
	margin-top:10px;
	margin-bottom:20px;
}

.content .newslist
{
	margin:0 5px;
	border-bottom:1px solid #e9e8ea;
	padding-bottom:40px;
	margin-bottom:14px;
}

.content .newslist li
{
	float:left;
	_display:inline;
	width:300px;
	margin:0 15px;
}

.content .newslist h3 a
{
	color:#22132D;
	line-height:22px;
	font-size:16px;
}

.content .newslist h3 a:hover
{
	color:#4F608C;
}

.content .newslist p
{
	color:#777;
	padding-top:8px;
}


.content .newslist .tn
{
	margin-left:80px;
	width:220px;
	_width:217px;
}


.content .focusList
{
	margin:0 5px;
}

.content .focusList li
{
	float:left;
	_display:inline;
	width:300px;
	margin:0 15px 10px 15px;
	border-top:2px solid #5c307d;
	height:280px;
	overflow:hidden;
}

.content .focusList li.alternative
{
	border-top:2px solid #e0823d;
}


.content .focusList .ydate
{
	margin-top:22px;
}

.content .focusList h3
{
	margin-top:1.4em;
}

.content .focusList h3 a
{
	color:#22132D;
	line-height:22px;
	font-size:16px;
}

.content .focusList h3 a:hover
{
	color:#4F608C;
}

.content .focusList p
{
	color:#777;
	padding-top:8px;
}


/*.content .focusList .tn
{
	margin-left:80px;
	width:220px;
	_width:217px;
}*/

.content .focusList .isimg .tn
{
	margin:0;
	width:auto;
}

.content .focusList .isimg img
{
	width:300px;
}

.content .focusList .isimg h3
{
	margin-top:15px;
}


.footer .footerExtra
{
	background:#f8f7f4;
	padding:40px 0;
}

.footer .footerExtra h2
{
	font-size:18px;
	color:#22132d;
	border-bottom:1px solid #ccc;
	padding-bottom:15px;
	margin-bottom:15px;
	margin-right:10%;
}

.footer .footerExtra .link li
{
	float:left;
	_display:inline;
	margin-right:5px;
}

.footer .footerExtra .link li a
{
	display:block;
}

.footer .footerExtra  li.commlink
{
	width:480px;
	margin:0 125px 0 20px;
}

.footer .footerExtra  li.commlink li
{
	margin:0;
	width:33.3%;
	line-height:24px;
}

.footer .footerExtra  li.commlink li a
{
	color:#444;
}

.footer .footerExtra  li.commlink li a:hover
{
	color:#4F608C;
}

.footer .footerExtra  li.commlink li i
{
	margin-left:10px;
}

.footer .footerExtra  li.commlink .line
{
	height:0;
	border-bottom:1px solid #dfdfdf;
	width:130px;
	margin:8px 0;
	overflow:hidden;
}

@media screen and (max-width:1200px) {
	.content .thuimg .imgarrow.imgarrowleft
	{
		left:10px;
	}
	
	.content .thuimg .imgarrow.imgarrowright
	{
		right:10px;
	}

}

@media screen and (max-width:800px) {

	.content {
		padding-bottom: 30px;
	}
	.content .thuimg .thuimgWrap
	{
		min-width:760px;
	}

	.content .thuimg .imgarrow
	{
		top:-150px;
		font-size:40px;
	}
	
	.content .thuimg .imgTitle .txt
	{
		font-size:16px;
		line-height:48px;
	}
	
	.thuimg .mainImg
	{
		width:760px;
	}
	
	.content .thuimg .thuimga
	{
		width:760px;
		height:253px;
	}
	
	.content .thuimg .imgTitle
	{
		width:760px;
		top:-48px;
	}
	.content .thuimg .month .arrow
	{
		padding: 0;
	}
	
	.content .thuimg .month .monthTxt
	{
		margin: 0 5px 0 35px;
	}
	
	.content .thuimg .month .day li
	{
		padding: 4px 1px;
	}
	
	.content .thuimg .month .day a
	{
		width:15px;
		padding:0 2px;
	}
	.content .thuimg .imgTitle .day
	{
		height:40px;
		line-height:40px;
		font-size:14px;
		width:auto;
		padding:0 15px;
	}
	.content .thuimg .imgTitle .day.today
	{
		font-size:20px;
	}
	
	.content .news
	{
		margin-top:0;
	}
	
	.content h2
	{
		text-indent: 10px;
		font-size:18px;
		line-height:60px;
	}
	
	.content .newslist
	{
		margin:0;
		padding-bottom:30px;
	}
	
	.content .newslist li
	{
		width:233px;
		margin:0 10px;
	}
	
	.content .newslist h3 a
	{
		font-size:15px;
		line-height:20px;
	}
	.content .newslist .tn
	{
		width:160px;
		margin-left:73px;
	}
	
	.content .focusList {
    	margin: 0;
	}
	.content .focusList li
	{
		width:233px;
		margin:0 10px 20px 10px;
		height:320px;
	}
	
	.content .focusList .isimg img
	{
		width: 233px;
	}
	
	/*
	.content .focusList .tn
	{
		width:160px;
		margin-left:73px;
	}*/
	
	.content .focusList h3 a
	{
		font-size:15px;
		line-height:20px;
	}
	
	
	.footer .footerExtra li.commlink
	{
		/*margin: 0 45px 0 40px;*/
		width:250px;
		margin-left:10px;
	}
	
	.footer .footerExtra li.commlink li{
		width:50%;
	}
	
	.footer .footerExtra h2
	{
		margin-right:20%;
		margin-bottom:10px;
	}
	
	.footer .footerExtra .link li
	{
		margin-bottom:5px;
	}
	
	
}


@media screen and (max-width:640px) {

	.content {
		padding-bottom: 20px;
	}

	.content .thuimg .thuimga
	{
		width:auto;
		height:213px;
	}

	.content .thuimg .imgarrow
	{
		top:-110px;
		font-size:30px;
	}
	
	.content .thuimg .imgTitle .txt
	{
		font-size:14px;
		line-height:40px;
		padding-left: 20px;
	}
	
	.thuimg .mainImg
	{
		width:100%;
	}
	

	.content .thuimg .thuimgWrap
	{
		min-width:100%;
	}
	
	.content .thuimg .imgTitle
	{
		width:100%;
		top:-40px;
	}
	
	.content .thuimg .imgTitle .day
	{
		height:32px;
		line-height:40px;
		font-size:11px;
	}
	.content .thuimg .imgTitle .day.today
	{
		font-size:16px;
	}
	.content .thuimg .month .monthTxt
	{
		margin-right:0;
	}
	
	.content .thuimg .month .day 
	{
		margin:0 30px 0 80px;
		float:none;
	}
	.content .thuimg .month .day li a
	{
		font-size:14px;
		width:20px;
	}
	
	.content .news
	{
		margin-top:0;
	}
	
	.content h2
	{
		text-indent: 20px;
		font-size:16px;
		line-height:50px;
	}
	
	.content .newslist
	{
		margin:0;
		padding-bottom:10px;
	}
	
	.content .newslist li
	{
		width:auto;
		margin:0 20px 20px 20px;
	}
	
	.content .newslist h3 a
	{
		font-size:15px;
		line-height:20px;
	}
	.content .newslist .tn
	{
		margin-left:80px;
		width:auto;
	}
	
	.content .focusList {
    	margin:0 20px;
	}
	.content .focusList li
	{
		width:100%;
		margin:0 0px 30px 0px;
		height:auto;
	}
	
	
	.content .focusList .isimg img
	{
		width: 100%;
	}
	
	/*
	.content .focusList .tn
	{
		margin-left:80px;
		width:auto;
	}
	*/
	
	.content .focusList h3 a
	{
		font-size:15px;
		line-height:20px;
	}
	
	.footer .footerExtra
	{
		padding:30px 0;
	}
	
	.footer .footerExtra .link li
	{
		margin-bottom:5px;
	}
	
	
	.footer .footerExtra li.commlink
	{
		margin:0 0 10px 0;
		width:100%;
	}
	
	.footer .footerExtra li.commlink h2
	{
		margin:0 20px 10px 20px;
	}
	
	.footer .footerExtra li.commlink ul
	{
		margin:0 20px;
	}
	
	.footer .footerExtra li.commlink li
	{
		width:25%;
		font-size:12px;
		line-height:30px;
	}
	
	.footer .footerExtra li.commlink .line
	{
		display:none;
	}
	
	.footer .footerExtra li img
	{
		width:100%
	}
	
	.footer .footerExtra li.li1
	{
		width:50%;
		margin-right:0;
	}
	
	.footer .footerExtra li.li2
	{
		width:25%;
		margin-right:0;
	}
	
	.footer .footerExtra li.li1 a,.footer .footerExtra li.li2 a
	{
		padding:5px;
	}
}

@media screen and (max-width:480px) {
	.content .thuimg .thuimga
	{
		height:160px;
	}
	
	.footer .footerExtra li.commlink li i
	{
		margin-left:5px;
	}
	.footer .footerExtra li.commlink li
	{
		width:33.33%;
	}
	
}

@media screen and (max-width:360px) {
	.content .thuimg .imgarrow{
		top:-96px;
	}
	
	.content .thuimg .thuimga
	{
		height:120px;
	}
	
	.content .thuimg
	{
		border-bottom:4px solid #5C307D;
	}
	
	.content .thuimg .imgTitle .day
	{
		display:none;
	}
	
	.content .thuimg .month
	{
		display:none;
	}
	
	/*
	.footer .footerExtra li.li1
	{
		width:100%;
		margin-right:0;
	}
	
	.footer .footerExtra li.li2
	{
		width:50%;
		margin-right:0;
	}
	*/
	.footer .footerExtra li.li1 a,.footer .footerExtra li.li2 a
	{
		padding:3px;
	}
}

@media screen and (max-width:320px) {
	
	.content .thuimg .thuimga
	{
		height:107px;
	}
	
	
	.content .thuimg .imgarrow
	{
		top:-70px;
		font-size:22px;
	}
	
	.content .thuimg .imgarrow.imgarrowleft
	{
		padding: 1px 2px 0px 0;
	}
	.content .thuimg .imgarrow.imgarrowright
	{
		padding: 1px 0px 0px 2px;
	}
	
	.content .thuimg .imgTitle
	{
		top: -34px;
	}
	
	.content .thuimg .imgTitle .txt
	{
		line-height: 34px;
	}

	.content h2
	{
		font-size:15px;
	}
	
	
	.content .newslist h3 a
	{
		font-size:14px;
	}
	
	.content .focusList h3 a
	{
		font-size:14px;
	}
	
	.footer .footWrap h4 a
	{
		font-size:12px;
	}
	
	.footer .footerExtra li.commlink li
	{
		font-size:12px;
	}
	


}