*{margin: 0;padding: 0}
html,body{height: 100%}
.zuhe_search {
	float: right;
	display: block;
	margin-top: -25px; 
}
#footer_ccompass{
	background: rgb(61, 160, 218) none repeat scroll 0% 0%;
	position:fixed; 
	height: 25px;
	}	
.layout-panel{
position: static
} 
.search{
	float: right;
	margin-right: 20px;
}
#searchimput{
	/*margin-top: 6px;*/
	background-image: url(../../img/input.png);
	width: 116px;
	height: 23px;
	padding-left: 30px;
}
#searchbutton{
	margin-left: 7px;
	margin-top:9px;
	/*border-image-width: 1 1 1 1;*/
	height: 26px;
	width: 65px;
	background-image: url(../../img/button_03.png);
}
